{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.query.label }}<br>
        {{ form.query(size=100) }}
        {% if form.query.errors %}
        <div class="text-danger">
            {% for error in form.query.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.no_retweets() }}
        {{ form.no_retweets.label }}
    </div>
    <div class="form-group">
        {{ form.n.label }}<br>
        {{ form.n(size=4) }}
        {% if form.n.errors %}
        <div class="text-danger">
            {% for error in form.n.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.language.label }}<br>
        {{ form.language() }}
    </div>
    <div class="form-group">
        {{ form.result_type.label }}<br>
        {{ form.result_type() }}
    </div>
    <div class="form-group">
        {{ form.since.label }}<br>
        {{ form.since() }}
    </div>
    <div class="form-group">
        {{ form.until.label }}<br>
        {{ form.until() }}
    </div>
    <div class="form-group">
        {{ form.geocode.label }}<br>
        {{ form.geocode(size=50) }}
    </div>
    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock %}
