{% extends "layout.html" %}
{% block content %}
<h1>{{ title ~ ': %d result(s)' % tweets|length }}</h1>
<form action="{{ url_for('download', search_id=search_id) }}" method="post">
    <p><input class="btn btn-primary" type="submit" value="Download JSON"></p>
</form>
{% for tweet in tweets %}
    <div class="tweet-metadata">
        {% set url = 'https://twitter.com/user/status/' ~ tweet.id %}
        <a class="mr-1" href="{{ url }}">{{ tweet.user.name }}</a>
        <small class="text-muted">{{ tweet.created_at|twitter_datetime }}</small>
    </div>
    <p>{{ tweet.full_text }}</p>
{% endfor %}
{% endblock %}
